* {
    box-sizing: border-box;
}

body {
    background: var(--color-background);
    background: linear-gradient(to right, red , yellow);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--color-links);
}