:root {
    --width-standard: {
        width: var(--container-default-width);
        max-width: var(--container-max-width);
        margin: 0 auto;
      }
    
      @custom-media --viewport-small (width >= 576px);
      @custom-media --viewport-medium (width >= 768px);
      @custom-media --viewport-large (width >= 992px);
      @custom-media --viewport-extralarge (width >= 1200px);
    
      @custom-selector :--headings h1, h2, h3, h4, h5, h6;
}